/* Variables ...................................................*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* Start Box ...................................................*/
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
}
/* End Box */
/* Start Padding + Margin .....................................*/
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
/* End Padding + Margin */
/* Start Color ..............................................*/
.bg-white {
  background-color: #fff;
}
.c-black {
  color: #000;
}
/* End Color */
/* Start Position ..........................................*/
.p-relative {
  position: relative;
}
/* End Position */
/* Start Font .............................................*/
.txt-c {
  text-align: center;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
.fs-14 {
  font-size: 14px;
}
/* End Font */
/* Start Border .........................................*/
.b-rad-6 {
  border-radius: 6px;
}
.b-rad-10 {
  border-radius: 10px;
}
/* End Border */
/* Width ..............................................*/
.w-full {
  width: 100%;
}
/* End width */
/* Start Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* End Components */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
